* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border: 1px solid #333;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}
.mario{
    width: 150px;
    position: absolute;
    bottom: 0%;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 5s infinite linear;
}

.lose{
    width: 0px;
    position: absolute;
    bottom: 0%;    
}
.login_icons {
    display: flex;
    gap: 0px;
    width: 10000px;
    margin-top: 0px;
  }
  
.login_icons img {
    width: 200px;
    height: 10;
    bottom: 10px; 
}
.icons_button {
    width: 100;
    height: 20;
    border-radius: 100px;
}

.button {
    font-size: 2em;
    background-color: lightpink;
    box-shadow: 10px 5px 5px #333;
    border-radius: 50px;
    width: 200px;
    height: 100px;
    position: relative;
    left: 930px;
    top: 300px;
}
.score {
    color: black;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to {
        right: 100%;
    }
}